<header class="header">
    <div class="header-content">
      <h1>Gestión actividades</h1>
      
      <p-button (onClick)="logout()" class="logout-button">cerrar sesion</p-button>
    </div>
</header>


<!-- <header class="header">
    <div class="header-content">
      <h1>Gestión actividades</h1>
      <div class="user-info">
        <span *ngIf="nombre_usuario">Bienvenido, {{ nombre_usuario }}</span>
      </div>
      <p-button (onClick)="logout()" class="logout-button">cerrar sesion</p-button>
    </div>
  </header> -->
  
    
