<div class="grid_cuardicula">
  <div class="nav"></div>

  <div class="section">
    <div class="login-container">
      <form [formGroup]="form">
        <h1>Inicio de sesión</h1>
        <div class="contenedor-input">
          <label for="nombre_usuario">Nombre de Usuario</label>
          <input id="nombre_usuario" pInputText type="text" formControlName="nombre_usuario" />
        </div>
        <div class="contenedor-contra">
          <label for="clave">Contraseña</label>
          <input class="contra" id="clave" pInputText type="text" formControlName="clave">
        </div>
        
        <div class="contenedor-boton"><p-button label="confirmar" (onClick)="login()"></p-button></div>
      </form>
    </div>
  </div>

  <div class="footer"></div>

</div>
<p-toast></p-toast>

