.texto{
    text-align: center;
    padding: 10px;
    background-color: #222;
    margin-top: 20px;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
   
    
}
